
<div class="headbox">
  <img src="http://static1.squarespace.com/static/55a67d43e4b0b6f2d1158e31/56462eefe4b0f14b0041ec2c/56462f93e4b029db3f122da5/1447441415307/Galvanize-Logo-Text-Logo-.png" alt="galvanize logo" class="logo" />
  <h1>Galvanize Reads</h1>
</div>

<div class="col-md-5">
  <div class="indexAuth">
    <div class="placeImage"><h3>Book</h3></div>
    <h2>Authors</h2>
  </div>
</div>



<div class="col-md-6">
  <div class="indexBooks">
    <div class="placeImage"><h3>Person</h3></div>
    <h2>Books</h2>
  </div>
