<div class="headbox">
  <img src="http://static1.squarespace.com/static/55a67d43e4b0b6f2d1158e31/56462eefe4b0f14b0041ec2c/56462f93e4b029db3f122da5/1447441415307/Galvanize-Logo-Text-Logo-.png" alt="galvanize logo" class="logo" />
  <h1>Galvanize Reads</h1>
</div>

<div class="sideMenu">
  <div class="sideAuthors">
      <div class="thumbnail"></div>
      <span class="sideText">Authors</span>
  </div>
  <div class="sideBooks">
      <div class="thumbnail"></div>
      <span class="sideText">Books</span>
  </div>
</div>

<div class="formDiv">
<form class="newBook" action="index.html" method="post">

  <label for="title">Title</label><br>
  <input type="text" name="title" value="" width="170">
  <br>
  <label for="genre">Genre</label><br>
  <input type="text" name="genre" value="" width="170">
  <br>
  <label for="coverimage">Cover Image URL</label><br>
  <input type="text" name="coverimage" value="" width="170">
  <br>
  <label for="desc">Description</label><br>
  <input type="text" name="desc" value="" lass="descField">
  <br>
  <label for="author">Authors</label><br>
  <input type="text" name="author" value="" width="200px">
  <input type="button" name="name" value="Remove"><br>

  <select>
    <option value="author1">Author One</option>
    <option value="author2">Author Two</option>
    <option value="author3">Author Three</option>
    <option value="author4">Author Four</option>
  </select>
    <input type="button" name="name" value="Add Author"><br>

</form>
</div>
